* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: dashboard;
	transition:all 0.3s ease-in-out;
	user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

.modal {

box-shadow: 0 12px 19px 1.5px rgba(0, 0, 0, 0.14), 0 4.5px 23px 4px rgba(0, 0, 0, 0.12), 0 5.5px 7.5px -3.5px rgba(0, 0, 0, 0.2);
position: fixed;
left: 0;right: 0;
top: 25vh;
background-color: #319deb;
max-height: 70%;
width: 55%;
margin: auto;
overflow-y: auto;
border-radius: 5%;
will-change: top, opacity;
z-index: 2;

}

.modal:hover {
outline: none;
box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

}

.modal h1{

margin-top: 0;
font-size: 1.5rem;
text-align: center;
}

.modal .modal-content {

padding: 24px;
width: 15rem;
display: flex;
margin: auto;

}

.modal:hover >.modal-content{

transform: rotate(-20deg);

}

.options {

display: absolute;
grid-template-columns: 200px 200px 200px;
grid-column-gap: 10px;
padding-bottom: 10rem;
justify-content: center;
will-change: bottom, opacity;

}

.option-content {

transition:padding-bottom 0.3s ease-in-out;
height: 0;
padding: 10px 55px 70px 70px;
background-color: #4caf50;
display: flex;
justify-content: center;


}

.option-name {

color:#fff;
font-size: 3rem;

}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
	margin-bottom: 10px;
}

.name-container h4 {
    margin-right: 10px;
    font-size: 1.2rem;
    color: white;
}

#playerNameInput {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    width: 250px;
	margin-left: 10px;
} 
.save-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove borders */
    border-radius: 5px; /* Round the corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Set font size */
}

.save-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

